.form {
}

.form__form {
	position: relative;
}

.form__input {
	display: block;
	line-height: 40px;
	height: 40px;
	width: 100%;
	margin: 0;
	padding: 3px 65px 0 25px;

	border: 0;
	border-radius: 3px;

	background-color: hsl(176, 29%, 47%);

	color: hsl(0, 0%, 90%);
}

.form__input::-webkit-input-placeholder {color: hsl(0, 0%, 90%);}
.form__input::-moz-placeholder          {color: hsl(0, 0%, 90%);} /* Firefox 19+ */
.form__input:-moz-placeholder           {color: hsl(0, 0%, 90%);} /* Firefox 18- */
.form__input:-ms-input-placeholder      {color: hsl(0, 0%, 90%);}

.form__button {
	position: absolute;
	top: 0;
	right: 0;
	line-height: 40px;
	height: 40px;
	margin: 0;
	padding: 0 20px;

	border: 0;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;

	background-color: hsl(176, 34%, 42%);

	color: hsl(0, 0%, 90%);

	cursor: pointer;
}

.form__button:before {
	position: absolute;
	top: 50%;
	left: 50%;

	font: 1.5rem FontAwesome;

	content: '\f067';
	transform: translate(-50%, -50%);
}