.form {
}

.form__form {
	position: relative;
}

.form__input {
	display: block;
	line-height: 40px;
	height: 40px;
	width: 100%;
	margin: 0;
	padding: 0 65px 0 25px;

	border: 0;
	border-radius: 3px;

	background-color: hsl(176, 29%, 47%);

	color: hsl(0, 0%, 90%);
	font-size: 18px;
}

.form__button {
	position: absolute;
	top: 0;
	right: 0;
	line-height: 40px;
	height: 40px;
	padding: 0 20px;

	border: 0;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;

	background-color: hsl(176, 34%, 42%);

	color: hsl(0, 0%, 90%);
	font-size: 30px;

	cursor: pointer;
}