.list {
}

.list__list {
	list-style: none;
	padding-top: 20px;
}

.list__item {
	height: 40px;
	line-height: 40px;
	margin-bottom: 5px;
	padding: 0 25px;
	position: relative;

	border-radius: 3px;

	background-color: hsl(0, 0%, 97%);

	cursor: pointer;
}

.list__item_template {
	line-height: 40px;
	margin-bottom: 5px;
	padding: 0 25px;

	border: 1px dotted hsl(0, 0%, 97%);
	border-radius: 3px;

	color: hsl(0, 0%, 97%);
}

.list__delete {
	position: absolute;
	line-height: 40px;
	height: 40px;
	width: 40px;
	right: 0;

	color: hsl(176, 29%, 47%);
	text-align: center;
}

.list__delete:before {
	position: absolute;
	top: 50%;
	left: 50%;

	font: 1.5rem FontAwesome;

	content: '\f00d';
	transform: translate(-50%, -50%);
}