*, *:after, *:before {
	box-sizing: border-box;
}

html {
	font: 10px "Open Sans", Verdana, Arial;
}

body {
	background-color: hsl(176, 31%, 62%);
}

.wrapper {
	max-width: 800px;
	margin: 20px auto;
	padding-bottom: 50px;

	font-size: 1.4rem;
}

.container:after {
	content: '';
	clear: both;
	display: table;
}

.column {
	float: left;
	margin-right: 4%;
}

.column:last-child {
	margin: 0;
}

.one    { width: 4.666666%   }
.two    { width: 13.333333%  }
.three  { width: 22%         }
.four   { width: 30.666666%  }
.five   { width: 39.333333%  }
.six    { width: 48%         }
.seven  { width: 56.666667%  }
.eight  { width: 65.333334%  }
.nine   { width: 74%         }
.ten    { width: 82.666667%  }
.eleven { width: 91.333334%  }
.twelve { width: 100%        }