.folder {
}

.folder__list {
	list-style: none;
	transition: transform 100ms ease-in-out;
	transform: scaleY(0);
	transform-origin: 50% 0%;
}

.folder.folder_open .folder__list {
	transform: scaleY(1);
}

.folder__title {
	padding: 10px 20px;
	position: relative;

	background-color: hsl(0, 0%, 97%);

	cursor: pointer;
}

.folder__title:after {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translate(0, -50%);

	color: hsl(0, 0%, 75%);
	font: 2.5rem FontAwesome;

	content: "\f104";
}

.folder.folder_open .folder__title:after {
	transform: translate(0, -50%) rotate(-90deg);
}

.folder__item {
	padding: 10px 20px;
	line-height: 1.4rem;

	background-color: hsl(0, 0%, 97%);

	cursor: pointer;
}

.folder__item:hover {
	background-color: hsl(176, 31%, 92%);
}