.menu {
}

/*menu__folders
menu__folder
menu__title
menu__list
menu__item*/

.menu__list {
	display: none;

	list-style: none;
	transition: transform 100ms ease-in-out;
	transform: scaleY(0);
	transform-origin: 50% 0%;
}

.menu__folder.menu_open .menu__list {
	display: block;
	transform: scaleY(1);
}

.menu__title {
	padding: 10px 20px;
	position: relative;

	background-color: hsl(0, 0%, 97%);

	cursor: pointer;
}

.menu__title:after {
	position: absolute;
	top: 50%;
	right: 10px;

	color: hsl(0, 0%, 75%);
	font: 2.5rem FontAwesome;

	content: "\f104";
	transform: translate(0, -50%);
	transition: transform 100ms ease-in-out;
}

.menu__folder.menu_open .menu__title:after {
	transform: translate(0, -50%) rotate(-90deg);
}

.menu__item {
	padding: 10px 20px;
	line-height: 1.4rem;

	background-color: hsl(0, 0%, 97%);

	cursor: pointer;
}

.menu__item:hover {
	background-color: hsl(176, 31%, 92%);
}